dist: bionic
language: node_js
node_js:
  - '17'

before_script:
  - npm install --location=global @angular/cli
  - npm install --location=global angular-cli-ghpages
  - npm install

script: ng build --aot --base-href="https://warriorsoforlandia.com"

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GH_TOKEN
  keep_history: true
  on:
    branch: master
  local_dir: dist/warriors-site
  target_branch: gh_pages
  fqdn: warriorsoforlandia.com
