<app-page-header title="Rules"></app-page-header>

<app-page-content lastUpdated="November 25, 2017 3:00PM">
  <h2>How To Play Warriors of Orlandia</h2>
  <p>
    <strong>What you’ll need</strong>: Two 6-sided dice (“d6”), markers for life and effects, a Warriors of Orlandia playmat, and, of course, cards.
  </p>
  <p>
    In Warriors of Orlandia, each player chooses a Warrior card and four Support cards. These cards are used throughout the game to defeat the opposition in a tactical battle.
  </p>
  <p>
    A player wins the game when either the opposing Warrior is defeated, or they have the highest life at the end of the fifth round. When a Warrior’s Life is 0, that Warrior is defeated.
  </p>

  <h4>Set up</h4>
  <ol>
    <li>Each player reveals their Warrior card and places their four Support cards face­down the order they will be played.</li>
    <li>Each player rolls two d6. </li>
    <li>The players place their Warriors in their starting row (closest to them), the loser of the roll placing first.</li>
  </ol>

  <h4>Gameplay</h4>
  <p>
    Initiative is listed on the upper-left corner of Support Cards.  Each round, the player who reveals the card with the highest initiative goes first. If cards revealed have one or more Reveal abilities, those abilities are immediately used in Initiative order. If a player controls multiple Reveal abilities, that player chooses in what order the happen in.
  </p>
  <p>
    Each round has an action phase which contains both players’ turns.  When all players have taken a turn, the round ends and the next begins.
  </p>
  <div>
    How to spend actions:
    <ul>
      <li>Move a square in a cardinal direction and/or turn.</li>
      <li>Basic Attack or Weapon Attack.</li>
      <li>Use an Action Ability.</li>
      <li>Pass.</li>
    </ul>
  </div>

  <h4>Attacking</h4>
  <p>
    Basic attacks use your Warrior’s attack grid (Basic attack grid) and your Warrior’s damage.  Weapon attacks use the weapon’s attack grid and damage.  You may attack with each weapon once per round.  Action abilities may be used multiple times unless stated otherwise.
  </p>
  <p>
    The Attack grid shows what bonuses or penalties apply when attacking targets in that square. You may not attack a target in a blank attack grid square.
  </p>
  <p>
    When you declare an attack, roll two dice and add any attack modifiers. The defender rolls two dice and adds any defense modifiers.  If attack is higher than defense, it is a hit.  When you hit, the defender takes that attack damage, plus any bonus damage.  For critical hits (the attack roll is doubles and hits), the damage is doubled before adding any modifiers.
  </p>

  <h4>Augments</h4>
  <p>
    Augments are used in Augmented play only.  To use an Augment, place it in the Augment zone and gain any abilities for which you qualify.
  </p>

  <h4>
    Symbols
  </h4>
  <div>
    <img src="https://statics.warriorsoforlandia.com/images/warriors-symbols.png" alt="Warriors of Orlandia card symbols" height="70" width="202" style="border:none;">
    <ol type="A">
      <li>Life - Starting and maximum life.</li>
      <li>Speed - The number of actions you can take on your turn.</li>
      <li>Defense - Targets that have this symbol use this number instead of rolling defense.</li>
      <li>Wisdom - Used to break all ties including initiative on round 5.</li>
      <li>Damage - The amount of damage you deal when you hit.</li>
    </ol>
  </div>

  <h4>Restricted List</h4>
  <p>
    Some cards are only allowed to be included once in each set of support cards in a game or have other restrictions. An up to date Restricted List can be found <a routerLink="/restricted">here</a>.
  </p>
</app-page-content>
