<nav class="navbar-header main-header">
  <a mat-button class="header-button" routerLink="/">
    Warriors of Orlandia
  </a>
  <a mat-button class="header-button navbar-hide-small" routerLink="/cards">
    Cards
  </a>
  <a mat-button class="header-button navbar-hide-small" routerLink="/about">
    About
  </a>
</nav>
<nav class="navbar-header navbar-show-small">
  <a mat-button class="header-button" routerLink="/cards">
    Cards
  </a>
  <a mat-button class="header-button" routerLink="/about">
    About
  </a>
</nav>