<app-page-header [title]="cardTitle"></app-page-header>

<app-page-content>
  <div class="card-error" *ngIf="error">
    <mat-icon>warning</mat-icon>
    {{errorResult.message}}

    <a routerLink='/cards'>Click here</a>
    
    to go back to card search.
  </div>
  
  <div class="card-data-container" *ngIf="!loading && !error">
    <div class="card-image">
      <a [href]="cardImageUrl" target="_blank">
        <img [src]="cardThumbUrl" [alt]="card.name + ' image'">
      </a>
    </div>
    <div class="card-data">
      <div class="card-data-item">
        <span class="card-label">
          Card Name:
        </span>
        <span class="card-value">
          {{card.name}}
        </span> 
      </div>
      <div class="card-data-item" *ngIf="card.initiative">
        <span class="card-label">
          Initiative:
        </span>
        <span class="card-value">
          {{card.initiative}}
        </span> 
      </div>
      <div class="card-data-item" *ngIf="card.element">
        <span class="card-label">
          Element:
        </span>
        <span class="card-value">
          {{card.element}}
        </span> 
      </div><div class="card-data-item">
        <span class="card-label">
          Card Type:
        </span>
        <span class="card-value">
          {{card.type}} {{card.subType ? ' - '+ card.subType : ''}}
        </span> 
      </div>
      <div class="card-data-item">
        <span class="card-label">
          Ability:
        </span>
        <span class="card-value" [innerHTML]="card.ability"></span> 
      </div>
      <ng-template [ngIf]="card.type === 'Warrior' || card.type === 'Reinforcement'">
          <div class="card-data-item">
              <span class="card-label">
                Life:
              </span>
              <span class="card-value">
                {{card.life}}
              </span> 
            </div>
        <div class="card-data-item">
          <span class="card-label">
            Defense:
          </span>
          <span class="card-value">
            {{card.defense}}
          </span> 
        </div>
      </ng-template>
      <ng-template [ngIf]="card.type === 'Warrior'">
        <div class="card-data-item">
          <span class="card-label">
            Speed:
          </span>
          <span class="card-value">
            {{card.speed}}
          </span> 
        </div>
        <div class="card-data-item">
          <span class="card-label">
            Widom:
          </span>
          <span class="card-value">
            {{card.wisdom}}
          </span> 
        </div>
      </ng-template>
      <div class="card-data-item" *ngIf="card.damage || card.damage === 0">
        <span class="card-label">
          Damage:
        </span>
        <span class="card-value">
          {{card.damage}}
        </span> 
      </div>
      <div class="card-data-item" *ngIf="card.flavorText">
        <span class="card-label">
          Flavor Text:
        </span>
        <span class="card-value" [innerHTML]="card.flavorText"></span> 
      </div>
      <div class="card-data-item">
        <span class="card-label">
          Artist:
        </span>
        <span class="card-value">
          {{card.artist}}
        </span> 
      </div>
      <div class="card-data-item">
        <span class="card-label"><!-- TODO: Add link to search for just this set -->
          Set:
        </span>
        <span class="card-value">
          {{card.set.name}} ({{card.set.code}})
        </span> 
      </div>
      <div class="card-data-item" *ngIf="card.collectorsNumber">
        <span class="card-label">
          Card Number:
        </span>
        <span class="card-value">
          {{card.collectorsNumber}}
        </span> 
      </div>

      <div class="attack-grid" *ngIf="card.type === 'Warrior' || card.type === 'Weapon'">
        <div class="card-data-item">
          <span class="card-label">
            Attack Grid:
          </span>
          <span class="card-value">
            <mat-grid-list cols="3" rowHeight="30px" role="list">
              <mat-grid-tile role="listitem" colspan="1" rowspan="1">{{card.attackGrid[0][0]}}</mat-grid-tile>
              <mat-grid-tile role="listitem" colspan="1" rowspan="1">{{card.attackGrid[1][0]}}</mat-grid-tile>
              <mat-grid-tile role="listitem" colspan="1" rowspan="1">{{card.attackGrid[2][0]}}</mat-grid-tile>
              
              <mat-grid-tile role="listitem" colspan="1" rowspan="1">{{card.attackGrid[0][1]}}</mat-grid-tile>
              <mat-grid-tile role="listitem" colspan="1" rowspan="1">{{card.attackGrid[1][1]}}</mat-grid-tile>
              <mat-grid-tile role="listitem" colspan="1" rowspan="1">{{card.attackGrid[2][1]}}</mat-grid-tile>
              
              <mat-grid-tile role="listitem" colspan="1" rowspan="1">{{card.attackGrid[0][2]}}</mat-grid-tile>
              <mat-grid-tile role="listitem" colspan="1" rowspan="1"><mat-icon>keyboard_arrow_up</mat-icon></mat-grid-tile>
              <mat-grid-tile role="listitem" colspan="1" rowspan="1">{{card.attackGrid[2][2]}}</mat-grid-tile>
              
              <mat-grid-tile role="listitem" colspan="1" rowspan="1">{{card.attackGrid[0][3]}}</mat-grid-tile>
              <mat-grid-tile role="listitem" colspan="1" rowspan="1">{{card.attackGrid[1][3]}}</mat-grid-tile>
              <mat-grid-tile role="listitem" colspan="1" rowspan="1">{{card.attackGrid[2][3]}}</mat-grid-tile>
            </mat-grid-list>
          </span>
        </div>
        
      </div>
    </div>
  </div>
  <hr *ngIf="!loading && !error">
  <div class="card-rulings" *ngIf="!loading && !error">
    <h3>
      Rulings and Errata
    </h3>
    <span *ngIf="!card.rulings || card.rulings.length === 0" class="warning">No rulings or errata for this card</span>
    <ng-template [ngIf]="card.rulings && card.rulings.length > 0">
      Error: Rulings could not be rendered.
    </ng-template>
  </div>
</app-page-content>