<app-page-header title="Restricted List"></app-page-header>

<app-page-content lastUpdated="July 12, 2022 4:00PM">
  <h3>Named Warriors:</h3>
  <div class="info">
    If the Warrior chosen is a named character, you may not use an Augment with
    that deck.
  </div>
  <ul style="list-style: none;">
    <li *ngFor="let card of namedWarriors">
      <a [routerLink]="['/cards', card.id]" title="View {{ card.name }}">{{
        card.name
      }}</a>
    </li>
  </ul>

  <h3>Restricted Cards</h3>
  <div class="info">
    Each set of support cards may only include one of the following:
  </div>
  <ul style="list-style: none;">
    <li *ngFor="let card of singletonCards">
      <a [routerLink]="['/cards', card.id]" title="View {{ card.name }}">{{
        card.name
      }}</a>
    </li>
  </ul>
</app-page-content>
