<app-page-header title="Card Search"></app-page-header>

<app-page-content>

  <app-search-form (search)="performSearch($event, 0)" [searchModel]="search"></app-search-form>

  <mat-spinner *ngIf="searching" class="spinner"></mat-spinner>

  <div class="error" *ngIf="error">
    {{error}}
  </div>
  <div class="results" *ngIf="results && !searching && !error">
    <h3>Cards</h3>
    <div class="results-grid">
      <mat-grid-list [cols]="gridColumns" rowHeight="1:1.34" gutterSize="10">
        <mat-grid-tile *ngFor="let card of results.results">
          <a [routerLink]="['/cards', card.id]">
          <mat-grid-tile-header>{{card.name}}</mat-grid-tile-header>
          <img [src]="getCardImage(card)" [alt]="card.name + ' image'">
          <mat-grid-tile-footer>
            {{card.type}} {{card.subType ? '- ' + card.subType : ''}}
          </mat-grid-tile-footer>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="results.totalCount"
      [pageSize]="pageSize"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="pageIndex">
    </mat-paginator>
  </div>
</app-page-content>