<app-page-header title="Card Search"></app-page-header>

<app-page-content>

  <app-search-form (search)="performSearch($event)" [searchModel]="search"></app-search-form>

  <mat-spinner *ngIf="searching"></mat-spinner>

  <div class="error" *ngIf="error">
    {{error}}
  </div>
  <div class="missing-set" *ngIf="!searching && showSetMissingMessage">
    <mat-icon>info_outline</mat-icon> 
    <p>
      We're still working on uploading the complete School Spirits set, so some cards may be missing.
    </p>
  </div>
  <div class="results" *ngIf="results && !searching && !error">
    <div class="results-grid">
      <mat-grid-list [cols]="gridColumns" rowHeight="1:1.34" gutterSize="10">
        <mat-grid-tile *ngFor="let card of results.results">
          <a [routerLink]="['/cards', card.id]">
          <mat-grid-tile-header>{{card.name}}</mat-grid-tile-header>
          <img [src]="getCardImage(card)" [alt]="card.name + ' image'">
          <mat-grid-tile-footer>
            {{card.type}} {{card.subType ? '- ' + card.subType : ''}}
          </mat-grid-tile-footer>
          </a>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</app-page-content>