<form *ngIf="!loadingSets && !loadingTypes" (ngSubmit)="onSubmit()" #searchForm>
  <md-form-field class="card-name">
    <input mdInput placeholder="Card Name" [(ngModel)]="searchModel.name" name="card-name">
  </md-form-field>

  <md-select placeholder="Card Type" [(ngModel)]="searchModel.type" name="card-type">
    <md-option *ngFor="let type of types" [value]="type.id">
      {{type.name}}
    </md-option>
  </md-select>

  <md-select placeholder="Set" [(ngModel)]="searchModel.set" name="card-set">
    <md-option *ngFor="let set of sets" [value]="set.code">
      {{set.name}}
    </md-option>
  </md-select>

  <md-form-field class="card-artist">
    <input mdInput placeholder="Artist" [(ngModel)]="searchModel.artist" name="card-artist">
  </md-form-field>

  <button md-button type="button" (click)="onSubmit()" color="primary">Search</button>
  <button md-button type="button" (click)="searchForm.reset();" color="warn">Reset</button>
</form>