<header class="header-background mat-typography">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">{{siteTitle}}</h1>
      <h2>{{siteCaption}}</h2>
    </div>
    <div class="header-start">
      <button mat-raised-button (click)="viewCards()">Browse Cards</button>
    </div>
  </div>
</header>

<app-page-content cssClass="mat-typography">
  <p>
    Welcome to Warriors of Orlandia, Anime Festival Orlando's exclusive card game. This site is still under construction. While we get this site finished up, you can check out the rules or look through all of the cards from the three released sets: <em>Curse of the White Witch</em>, <em>Crisis on Infinite Orlandias</em> and <em>School Spirits</em>.
  </p>
<!-- <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Angular</mat-card-title>
    <mat-card-subtitle>Material 2</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" height="300px">
  <mat-card-content>
    <p>
      Material Design components for Angular
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Like</button>
    <button mat-button>Share</button>
  </mat-card-actions>
</mat-card> -->

</app-page-content>