/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  margin: 0;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif
}

app-navbar {
  color: rgba(255, 255, 255, 0.87);
  position: relative;
  z-index: 10;
  display: block;
}

app-navbar .navbar-header {
  background: #673ab7;
}

.text-center {
  text-align: center;
}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.mat-progress-spinner {
  margin: 0 auto;
}