<app-page-header title="About"></app-page-header>

<app-page-content>
  <h2>Warriors of Orlandia</h2>
  <p>
    Warriors of Orlandia is a tactical card game available exclusively at Anime Festival Orlando. 
  </p>
  <div class="card-preview">
    <mat-card role="group">
      <mat-card-header>
        <mat-card-title>
          {{card.name}}
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]='cardImageUrl' [alt]='card.name'>  
      <mat-card-content>
        This is an example of an {{card.type}} card from the <em>{{card.set.name}}</em> set. You can find all of the cards on the cards page.
      </mat-card-content>
    </mat-card>
    
  </div>
</app-page-content>
