<footer class="warriors-footer">
  <div class="warriors-footer-list">
    <!-- TODO: Add logo -->
  </div>
  <div class="warriors-footer-links">
    <ul>
      <li>
        <a href="/">Warriors of Orlandia</a>
      </li>
      <li>
        <a href="http://www.talesoforlandia.com">Tales of Orlandia</a>
      </li>
      <li>
        <a href="http://www.animefestivalorlando.com">Anime Festival Orlando</a>
      </li>
    </ul>
  </div>

  <div class="warriors-footer-copyright">
    <p>Copyright &copy; {{currentYear}} Blue Moose Entertainment, All rights reserved.</p>
  </div>
</footer>